<h2> Product List </h2>

<ul>
    <% productsAndStuff.forEach((oneProd) => { %>
      <li>
        <h3> <%= oneProd.name %> </h3>
        <p> $ <%= oneProd.price %> </p>
        <!--req.query.myId -->
        <a href="/product/details?myId=<%= oneProd._id %>">
          View Details
        </a>
        <br>
        <!--req.query.myId -->
        <a href="/product/edit?myId=<%= oneProd._id %>">
          Edit Product
        </a>
        <br>

        <form method="post" action="/products/delete?myId=<%= oneProd._id %>">
          <button> Delete Button (POST) ☠️ </button>
        </form>
      </li>
  <% }) %>
</ul>
